
:root{
	

	/* Footer */
	--theme-footer-font-color: #FFF;
	--theme-footer-background-color: black;
	--theme-footer-container-background-color: black;
	
	
	/* hyperlink */
	--theme-body-hyperlink-font-color-base: #1B65B5;
	--theme-body-hyperlink-font-color-hover: #004B82;
	--theme-footer-hyperlink-font-color-base: #FF7921;
	--theme-footer-hyperlink-font-color-hover: #FF7921;
	
	/* Page header navigation bar: 1st tier menu */
	--theme-page-header-1st-tier-menu-primary-color-base: #1B65B5;
	--theme-page-header-1st-tier-menu-primary-color-hover: #1B65B5;
	--theme-page-header-1st-tier-menu-background-color-base: transparent;
	--theme-page-header-1st-tier-menu-background-color-hover: #FFF5D1;
	--theme-page-header-1st-tier-menu-background-color-hover1: #1B65B5;
	
	
	/* Page header navigation bar: 2nd tier pulldown menu */
	--theme-page-header-2nd-tier-menu-background-color-base: #FFFFFF;
	--theme-page-header-2nd-tier-menu-background-color-hover: #1B65B5;
	--theme-page-header-2nd-tier-menu-font-color-base: #1B65B5;
	--theme-page-header-2nd-tier-menu-font-color-hover: #FFFFFF;
	--theme-page-header-2nd-tier-menu-separator-color-base: #E2E2E2;
	
	/* Form */

	
	
	/* Primary button */
	--theme-primary-btn-background-color-base: #1B65B5;
	--theme-primary-btn-background-color-hover: #1B65B5;
	--theme-primary-btn-background-color-active: #004B82;
	--theme-primary-btn-font-color-base: #ffffff;
	--theme-primary-btn-font-color-hover: #ffffff;
	--theme-primary-btn-font-color-active: #ffffff;
	
	/* Secondary button */
	--theme-secondary-btn-background-color-base: #767676;
	--theme-secondary-btn-background-color-hover: #767676;
	--theme-secondary-btn-background-color-active: #606060;
	--theme-secondary-btn-font-color-base: #ffffff;
	--theme-secondary-btn-font-color-hover: #ffffff;
	--theme-secondary-btn-font-color-active: #ffffff;

	/* Pagination button */
	--theme-pagination-btn-background-color-base: #FFFFFF;
	--theme-pagination-btn-background-color-hover: #E0E0E0;
	--theme-pagination-btn-background-color-active: #004B82;
	--theme-pagination-btn-background-color-currentpage: #1B65B5;
	--theme-pagination-btn-font-color-base: #212530;
	--theme-pagination-btn-font-color-hover: #212530;
	--theme-pagination-btn-font-color-active: #ffffff;
	--theme-pagination-btn-font-color-currentpage: #ffffff;
	
	/* Stacked list */
	--theme-stacked-item-background-color: #F4F4F4;
	--theme-stacked-item-background-color-hover: #FFF5D1;
	
	/* Traditional table */
	--theme-table-item-background-color-hover: #FFF5D1;
	
	
	
	
}