

.pagination-normal,
.pagination-more {
	display: none;
	justify-content: center;
	padding-left: 0;
	list-style: none;
	width: 100%;
	text-align: center;
	margin: 2rem auto 1rem auto;
}

@media (min-width: 768px){ 
	.pagination-normal{
		display: flex;
	}
}

@media (max-width: 767.99px){ 
	.pagination-more{
		display: flex;
	}
}


.pagination-normal a{
	display: inline-block;
	padding: 5px 5px;
	min-width: 2rem;
	margin: 0 3px;
	text-align: center;
	font-weight: var(--base-theme-body-font-weight-bold);
	text-decoration: none;
	
	border-radius: 5px;
	background-color: var(--theme-pagination-btn-background-color-base);
	color: inherit;
}

.pagination-normal a:hover {
	color: var(--theme-pagination-btn-font-color-hover);
	background-color: var(--theme-pagination-btn-background-color-hover);
}

.pagination-normal a:active {
	color: var(--theme-pagination-btn-font-color-active);
	background-color: var(--theme-pagination-btn-background-color-active);
}

.pagination-normal a.currentpage{
	color: var(--theme-pagination-btn-font-color-currentpage);
	background-color: var(--theme-pagination-btn-background-color-currentpage);
}

.page-link-etc{
	display: inline-block;
	padding: 5px 5px;
	min-width: 1rem;
	margin: 0 3px;
	text-align: center;
	font-weight: var(--base-theme-body-font-weight-bold);
}


/* Shorthand */

.page-link-first:before{
	/* "fa-solid fa-angles-left */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
	content: "\f100"; 
}

.page-link-last:before{
	/* "fa-solid fa-angles-right */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
	content: "\f101"; 
}

.page-link-previous:before{
	/* "fa-solid fa-angle-left */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
	content: "\f104"; 
}

.page-link-next:before{
	/* "fa-solid fa-angle-right */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: var(--fa-font-solid);
	content: "\f105"; 
}

.page-link-etc:before{
	content: "...";
}
