
@media (min-width: 0){
  #current-breakpoint:after{
    content: "0 (extra small)";
  }
}

@media (min-width: 768px){
  #current-breakpoint:after{
    content: "768px (small)" ;
  }
}

@media (min-width: 992px){
  #current-breakpoint:after{
    content: "992px (medium)";
  }
}

@media (min-width: 1200px){
  #current-breakpoint:after{
    content: "1200px (Large)";
  }
}

@media (min-width: 1500px){
  #current-breakpoint:after{
    content: "1500px (Extra Large)";
  }
}
